<div class="parceiros">
  <div class="linha">
    <span class="rotulo">Patrocínio</span>
    <img class="p-ollara" src="../assets/marca/patrocinio-ollara-branco.png" alt="Ollara Education Hub">
    <img class="p-clida"  src="../assets/marca/patrocinio-clida-branco.png" alt="CLIDA Centro Linguistico Italiano Dante Alighieri">
    <img class="p-ikon"   src="../assets/marca/patrocinio-ikon-alg-branco.png" alt="Ikon Institute of Australia e Australian Learning Group">
  </div>
  <div class="linha">
    <span class="rotulo">Media partner</span>
    <img class="m-pie" src="../assets/marca/media-thepie-branco.png" alt="The PIE">
    <span class="sep"></span>
    <span class="rotulo">Apoio</span>
    <img class="a-belta"   src="../assets/marca/apoio-belta-branco.png"   alt="BELTA">
    <img class="a-abrapei" src="../assets/marca/apoio-abrapei-branco.png" alt="ABRAPEI">
    <img class="a-ialc"    src="../assets/marca/apoio-ialc-branco.png"    alt="IALC">
    <img class="a-allyhub" src="../assets/marca/apoio-allyhub-branco.png" alt="Ally Hub">
    <img class="a-edvisor" src="../assets/marca/apoio-edvisor-branco.png" alt="Edvisor">
  </div>
</div>
